cmake-build-*
.idea
.DS_Store
build
dist
*.egg-info
*.pyc

# Third-party links created by `setup.py develop`
deep_gemm/include/cutlass3/cute
deep_gemm/include/cutlass
deep_gemm/include/cutlass3/cutlass
deep_gemm/include/cutlass3/ppu
deep_gemm/include/cutlass3/tools
deep_gemm/include/accutlass.h
deep_gemm/include/aiu
.eggs/
tmp/
