[submodule "third-party/cutlass"]
	path = third-party/cutlass
	url = git@gitlab.alibaba-inc.com:PPU-Libraries/cutlass.git
	branch = gpgpu_2v1_opensource

[submodule "third-party/cutlass3"]
	path = third-party/cutlass3
	url = git@gitlab.alibaba-inc.com:PPU-Libraries/cutlass3.git
	branch = v3.6.0_opensource_2v1_dev
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
